[tool.poetry]
name = "micromed-io"
version = "0.1.0"
description = "A library to handle Micromed data"
authors = ["Etienne de MONTALIVET <etienne.demontalivet@protonmail.com>"]

[tool.poetry.dependencies]
python = "^3.8"
mne = "^1.0.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
